.enter {
    opacity: 0;
    height: 0;
}
.enter-active {
    opacity: 1;
    height: 100%;
    transition: opacity 400ms ease-in, height 300ms ease-in;
}
.exit {
    opacity: 1;
    height: 100%;
}
.exit-active {
    opacity: 0;
    height: 0;
    transition: opacity 200ms ease-in, height 300ms ease-in;
}